<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#eeeeee" align="center">
  <tbody>
    <tr>
      <td>
        <table width="700" cellspacing="0" cellpadding="0" border="0" align="center">
          <tbody>
            <tr>
              <td height="50" style="font-size: 0; text-indent: -999rem; line-height: 0">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#eeeeee" align="center">
  <tbody>
    <tr>
      <td>
        <table
          style="border-top-left-radius: 8px; border-top-right-radius: 8px"
          width="700"
          cellspacing="0"
          cellpadding="0"
          border="0"
          bgcolor="#171620"
          align="center"
        >
          <tbody>
            <tr>
              <td align="center">
                <table
                  width="700"
                  cellspacing="0"
                  cellpadding="0"
                  border="0"
                  align="center"
                  style="border-bottom: 1px solid #272733"
                >
                  <tbody>
                    <tr>
                      <td height="35" style="font-size: 0; text-indent: -999rem; line-height: 0">&nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        <table cellspacing="0" cellpadding="0" border="0" align="center">
                          <tbody>
                            <tr>
                              <td valign="top" align="center">
                                <img
                                  src="<%= imageBaseUrl %>/logo.png"
                                  alt="Riffle"
                                  width="200"
                                  style="display: block; margin: 0 auto"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td height="20" style="font-size: 0; text-indent: -999rem; line-height: 0">&nbsp;</td>
                            </tr>
                            <tr>
                              <td
                                style="
                                  color: #c0bfc8;
                                  font-family: Lato, Arial, Helvetica, sans-serif;
                                  font-size: 20px;
                                  font-weight: 600;
                                  line-height: 1.5;
                                  padding: 0px 40px;
                                "
                                align="center"
                              >
                                <%= subject %>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="35" style="font-size: 0; text-indent: -999rem; line-height: 0">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<%- content %>

<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#eeeeee" align="center">
  <tbody>
    <tr>
      <td>
        <table
          width="700"
          cellspacing="0"
          cellpadding="0"
          border="0"
          bgcolor="#171620"
          align="center"
          style="border-bottom-left-radius: 8px; border-bottom-right-radius: 8px"
        >
          <tbody>
            <tr>
              <td height="8" style="font-size: 0; text-indent: -999rem; line-height: 0">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td height="50" style="font-size: 0; text-indent: -999rem; line-height: 0">&nbsp;</td>
    </tr>
  </tbody>
</table>
